footer
    .container
        .row
            .col
                p
                    a.btn.mr-5(href="#") Facebook
                p
                    a.btn.mr-5(href="#") Twitter
                p
                    a.btn.mr-5(href="#") Google+
                p
                    a.btn.mr-5(href="#") Linkdln
                p
                    a.btn.mr-5(href="#") Behance 
                p
                    a.btn.mr-5(href="#") Dribbble
                p
                    a.btn.mr-5(href="#") Github
