footer
    .container
            .col
                ul.pt-3
                    li.mr-5
                        p
                            a(href="#") Facebook
                    li.mr-5
                        p
                            a(href="#") Twitter
                    li.mr-5
                        p
                            a(href="#") Google +
                    li.mr-5
                        p
                            a(href="#") Linkedln
                    li.mr-5
                        p
                            a(href="#") Behance
                    li.mr-5
                        p
                            a(href="#") Dribbble
                    li.mr-5
                        p
                            a(href="#") Github
                    li.mr-5
                        p
                            a(href="#") ProBook
