footer
    section.footer 
        .container
            .row
                .col
                    ul
                        li
                            a.btn(href="#") Facebook
                        li
                            a.btn(href="#") Twitter
                        li
                            a.btn(href="#") Google +
                        li
                            a.btn(href="#") Linkedln
                        li
                            a.btn(href="#") Behance
                        li
                            a.btn(href="#") Dribbble
                        li
                            a.btn(href="#") Github