header
   h1 Header
    .row.fixed-top.header_tinh
                    .col-md-3.mt-5.offset-md-2.logo
                        #logo
                            img(src="img/logo.png")
                    .col-md-3.mt-5.offset-md-2
                        nav.menu
                            ul
                                li
                                    a(href="#") HOME
                                li
                                    a(href="#") ABOUT
                                li
                                    a(href="#") WORK
                                li
                                    a(href="#") BLOG
                                li
                                    a(href="#") CONTACT
