<<<<<<< HEAD
// Các trang thành phần
@import _pages/index
=======
$mautim: #87509c //Tím 
$maungoc: #17c2a4 // Cyan
$mauvang: #ffdd99 // Vang 
$maudo: #d74680 // Đỏ 
$mauxanh: #3c5499 // Xanh 
>>>>>>> parent of 616e5e6... modife
