@import ../_core/_all
footer
    background: $xanh
    li 
        display: inline-block
        p
            a
                color: white
                font-weight: 600
            &:hover
                color: $xanh
                text-decoration: none