extends _layout/layout.pug
block main 
	section.home_slider
		.container
					.row
							a(href="#")
								i.fab.fa-facebook-f 
							a(href="#")
								i.fab.fa-facebook-f
							a(href="#")
								i.fab.fa-facebook-f
							a(href="#")
								i.fab.fa-facebook-f
	section.home_skills
		.container
			.row
				.col-md-8.offset-2
					h2.covien.pb-3 WE GOT SKILLS!
					p.pt-3.mb-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quia voluptas quo impedit molestias incidunt vel cum pariatur.
			.row.mt-3
				.col-md-3.col-sm-6
					.progress.blue
						span.progress-left
							span.progress-bar
						span.progress-right
							span.progress-bar
						.progress-value 90%
					h4.mt-4 Web Design
					
				.col-md-3.col-sm-6
					.progress.yellow
						span.progress-left
							span.progress-bar
						span.progress-right
							span.progress-bar
						.progress-value 75%
					h4.mt-4 HTML / CSS
					
				.col-md-3.col-sm-6
					.progress.pink
						span.progress-left
							span.progress-bar
						span.progress-right
							span.progress-bar
						.progress-value 70%
					h4.mt-4 GRAPHIC DESIGN
					
				.col-md-3.col-sm-6
					.progress.green
						span.progress-left
							span.progress-bar
						span.progress-right
							span.progress-bar
						.progress-value 85%
					h4.mt-4 UX/UI


	section.home_portf
		.container 
			.row
				.col-8.offset-2.text-center.mt-3
					h2.covien.pb-3.pt-3 OUR PORTFOLIO
					p.mt-3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit amet nobis accusamus quasi quidem cum dolores repudiandae optio odit.
					a.btn.more.mr-3(href="#") All
					a.btn.more.mr-3(href="#") WEB
					a.btn.more.mr-3(href="#") APPS
					a.btn.more.mr-3(href="#") ICONS
			.row.mt-4
				.col-md-6.mt-3
					figure
						img(src="img/home_portfolio_item_1.png", alt="alt")
					p.text-center Isometric Perspective Mock-Up
				.col-md-6.mt-3
					figure
						img(src="img/home_portfolio_item_2.png", alt="alt")
					p.text-center Time Zone App UI
				.col-md-6.mt-3
					figure
						img(src="img/home_portfolio_item_3.png", alt="alt")
					p.text-center Viro Media Players UI copy 2
				.col-md-6.mt-3
					figure
						img(src="img/home_portfolio_item_4.png", alt="alt")
					p.text-center Blog / Magazine Flat UI Kit
			.col-md-12.text-center.mt-3
				a.btn.tinh.mb-5.mt-3(href="#") LOAD MORE PROJECTS
	section.about
		.container
			.row.pt-5
				.col-md-8.offset-2.text-center
					h2.covien.pb-3 WHAT PEOPLE SAY ABOUT US
					p Our clients love us! 
			.row
				.col-md-6.mt-4
					.row
						.col-md-4.text-center.offset-1
							figure
								img(src="img/home_people_say_1.png", alt="")
						.col-md-7
							p “Nullam dapibus blandit orci, viverra gravida dui lobortis eget"
							h5 Chanel Iman 
							p
								a(href="#") CEO of Pinterest 
				.col-md-6.mt-4
					.row
						.col-md-4.text-center.offset-1
							figure
								img(src="img/home_people_say_1.png", alt="")
						.col-md-7
							p “Nullam dapibus blandit orci, viverra gravida dui lobortis eget"
							h5 Chanel Iman 
							p
								a(href="#") CEO of Pinterest 
				.col-md-6.mt-4
					.row
						.col-md-4.text-center.offset-1
							figure
								img(src="img/home_people_say_1.png", alt="")
						.col-md-7
							p “Nullam dapibus blandit orci, viverra gravida dui lobortis eget"
							h5 Chanel Iman 
							p
								a(href="#") CEO of Pinterest 
				.col-md-6.mt-4
					.row
						.col-md-4.text-center.offset-1
							figure
								img(src="img/home_people_say_1.png", alt="")
						.col-md-7
							p “Nullam dapibus blandit orci, viverra gravida dui lobortis eget"
							h5 Chanel Iman 
							p
								a(href="#") CEO of Pinterest 
	section.getin
		.container
			.row
				.col.text-center
					h2.pt-3.pb-3.getintouch GET IN TOUCH
					p 1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. Tel(202) 456 1111
			.row
				.col-md-4.offset-2
					input(style="width:100%",type="text", name="tk",placeholder="Your Name *")
				.col-md-4
					input(style="width:100%",type="email",name="tk",placeholder="Your Email *")
			.row
				.col-12.text-center.mt-3
					textarea(name="", cols="98%", rows="10",placeholder="Your Message *")
			.row
				.col.text-center.mt-3.mb-3
					a.btn.tinh(href="#") SEND MESSAGE

