extends _layout/layout.pug
block main 
<<<<<<< HEAD
    section.home-slider
		.container
			.row
				.col
					h1 gdgdfg dfgdfgdfgdf g
					p
						a.btn.btn-more(href="#") dsfjhdsfkj 
	
=======
	.abc HELLO CUDA
>>>>>>> parent of 616e5e6... modife
