extends _layout/layout.pug
block main
	section.home-slider
		.container
			.row
				.col
					h1.mb-5  Hi there! We are the new kids on the block and we build awesome websites and mobile apps.
					p.mt-3
						a.btn.btn-more(href="#") Work With Us
	section.home-services
		.container
			.row
				.col.mt-5.text-center
					h2 SERVICES WE PROVIDE
					p We are working with both individuals and businesses from all over the globel to create awesome websites and applications. 
			.row
				-for(var x = 1 ; x < 5 ; x++)
					.col.mb-4.mt-3
						figure
							img(src="./img/home_icon_"+x+".png", alt="")
						h3 BRANDING
						p.display-5 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta sit quisquam ducimus!
	section.home-team 
		.container 
			.row 
				.col.mt-5.text-center 
					h2 MEET OUR BEATIFUL TEAM
					p We are a small team of designers and developers, who help brand with big ideas.
			.row 
				-for(var x = 1 ; x < 5 ; x++)
					.col.mt-5.mb-4.mr-2
						figure
							img(src="./img/home_team_1.png", alt="")
						h3 ANNE HATHAWAY
						p 
							a(href="#") CEO/ Maketing Guru
						p.text-center.display-5 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nobis inventore deserunt provident, nemo non temporibus laboriosam enim.
						ul.text-center.pl-0
							li
								i.fa.fa-facebook
							li
								i.fa.fa-twitter
							li
								i.fa.fa-bug
							li
								i.fa.fa-envelope
	section.home-skill
		.container
			.row
				.col.mt-5.text-center 
					h2 MEET OUR BEATIFUL TEAM
					p We are a small team of designers and developers, who help brand with big ideas.
			.row
				.col.skill_item.col-md-3.mt-4.col-sm-6
					.c100.p90.big
						span 90%
						.slice
							.bar
							.fill
					h3.mt-4 WEB DESIGN
				.col.skill_item.col-md-3.mt-4.col-sm-6
					.c100.p75.big.pink
						span 75%
						.slice
							.bar
							.fill
					h3.mt-4 HTML/CSS
				.col.skill_item.col-md-3.mt-4.col-sm-6
					.c100.p70.big.cyan
						span 70%
						.slice
							.bar
							.fill
					h3.mt-4 GRAPHIC DESIGN
				.col.skill_item.col-md-3.mt-4.col-sm-6.mb-4
					.c100.p85.big.orange
						span 85%
						.slice
							.bar
							.fill
					h3.mt-4 UX/UI
	section.home-porft
		.container
			.row.pt-5
				.col.text-center
					h2 OUR PORTFOLIO
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, cumque!
			.row
				.col
					ul 
						li
							a.btn(href="#") ALL
						li
							a.btn(href="#") WEBS	
						li
							a.btn(href="#") APPS
						li
							a.btn(href="#") ICONS
			.row
				-for(var x = 1 ; x < 5 ; x++)
					.col-md-6.mt-3
						figure
							img.img-fluid(src="./img/home_portfolio_"+x+".png", alt="")
							p.mb-4.mt-3 TIME ZONE APP UI
	section.home-about
		.container
			.row
				.col.text-center
					h2 OUR PORTFOLIO
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, cumque!
			.row.mt-5.mb-3.tinh-left
				- for(var x =1;x<5;x++)
					.col-sm-6
						.row
							.col-sm-3
								figure
									img.img-fluid(src="./img/home_avatar_team_1.png", alt="")
							.col.text-center 
								i Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit, veritatis quas! Cum, aliquid.
								h4 EMMA STONE
								p LEADER Of Shazan
	section.home-contact
		.container
			.row
				.col.text-center
					h2 OUR PORTFOLIO
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, cumque!
			.row
				.col-8.offset-2
					form
						.form-row
							.col
								input.form-control(type="text", 	name="user",placeholder="Your Name")
							.col
								input.form-control(type="text", 	name="email",placeholder="Email")
						.form-row.mt-3
							.col
								textarea.form-control(name="", cols="30", rows="10",placeholder="Your Text")
			.row
				.col
					p.mt-3
						a.btn.btn-more(href="#") Work With Us


					