extends _layout/layout.pug
block main
	
	section.home-slider
		.container
			.row
				.col
                    h1 sadsadas 
                    p 
                        a.btn(href="#") skadkns
					
