$tim: #87509c //Tím 
$ngoc: #17c2a4 // Cyan
$vang: #ffdd99 // Vang 
$do: #d74680 // Đỏ 
$xanh: #3c5499 // Xanh 
$trang: #fff // Trắng
$xemtrang: #E7F1F8 // Xém trắng 
$maunut: #EB7D4B // màu nút
$mauh2: #3C4761 //Màu chử H2