=home-block($khoaito: #fff,$mauchu: #fff, $he: 368px)
    min-height: $he
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    background: $khoaito
    color: $mauchu
    letter-spacing: .025rem
=button($cl-bg: #000,$color: #fff)
    border-radius: 3px
    border-bottom: 3px solid darken($cl-bg,5%)
    background-color: $cl-bg
    color: $color
    padding: .5rem 3rem 
    font-size: 16px
=icon-circle($bg-cl:$xemtrang)
    display: inline-block
    border-radius: 50%
    background-color: darken($bg-cl,12%)
    line-height: 35px
    width: 35px
    height: 35px
    margin-right: .5rem
    color: $trang
=button-list()
    list-style: none
    display: inline-block
    background-color: darken($vang,10%)
    color: white
    border-radius: 3px
    &:hover
        background: $trang
=list-item()
    list-style: none
    display: inline-block
    margin-top: 15px